    /*for search */
#search_hidden{
    float: right;
    margin: 10px 40px
}
/*************/
    .rotate-animation {
        animation: rotate 2s ease-in-out;
    }

    .popup-content .left{
        float: left;
    }
    .popup-content .left h3{
        text-align: left;
    }
